<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title Simple PCTimer
  body
    span#notif
    .container
      .timer
        h1 Simple PCTimer
        form(autocomplete="off")
          input#asd(type="text" placeholder="Minutes only!" autocomplete="off")
          button.submit(type="submit") Activated
        button#cancel.deactivated Deactivate
    script(src="app.js")